.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 120px;
  margin-top: 280px;
  margin-left: 100px;
}

.container span {
  font-family: var(--font-family-main);
  color: var(--color);
  font-weight: bold;
  font-size: var(--font-size-b);
}

.smaller {
  font-size: var(--font-size-s);
}

.containerNames {
  font-size: var(--font-size-xs);
  font-family: var(--font-family);
  color: var(--color-main);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-left: 100px;
}

.container .containerName {
  font-size: var(--font-size-xs);
  font-family: var(--font-family);
  color: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents {
  display: contents;
}

.block {
  width: 100px;
  display: block;
  text-align: center;
}
